$color_white: #F9F9F9;
$color_orange: #FD9A00;
$color_red: #ff0000;
$color_green: #038d03;

html {
    background-color: $color_white;
    height: 100%;
    font-size: 100%; 
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin: 0 auto;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input {
    font-size: 1rem;
    padding: 6px;
}

select {
    font-size: 1rem;
    padding: 6px;
}

button {
    border: none;
    background-color: $color_orange;
    border-radius: 1.5rem;
    color: $color_white;
    cursor: pointer;
    font-size: 1rem;
    padding: 8px;
    text-align: center;
    width: 120px;
}

button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
  
button:disabled,
button[disabled]{
    opacity: 0.4;
    box-shadow: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.disabled {
    display: none;
}

.questions {
    width: 320px;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 18px;
    &__title {
        font-size: 1.3rem;
        font-weight: 600;
    }
    &__result {
        display: flex;
        justify-content: flex-start;
        &_correct {
            color: $color_green;
        }
        &_wrong {
            color: $color_red;
        }
        &__next {
            display: flex;
            justify-content: center;
            margin-top: 18px;
        }
    }
    &_disabled {
        display: none;
    }
}

.result {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    width: 320px;
    &__title {
        font-size: 1.3rem;
        font-weight: 600;
    }
    &__content {
        display: flex;
        gap: 35px;
        li {
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-weight: 600;
        }
        span {
            font-weight: 500;
        }
    }
    &__veredict {
        font-weight: 600;
        font-family: monospace;   
    }
}

.progress {
    display: block;
    position: fixed;
    z-index: 999;
    height: 10px;
    background-color: $color_orange;
    width: 0vw;
    bottom: 0px;
    left: 0px;
}








